* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: url(17973908.jpg);
    margin: 0;
}

.container, .header, .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.list-item {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
    
}

.tech-list-item {
    margin: 0.5rem;
}

.list-link {
    text-decoration: none;
    color: purple;
    font-weight: 800;
}


.title {
    font-size: 2rem;
}

.main-title {
    font-size: 1.5rem;
    color: blue;
}

.product-title {
    font-size: 1.2rem;
    text-decoration: underline;
    color: darkgreen;
}

.tech-list {
    margin-right: 1rem;
}

/* ABOUT US */

.main-aboutus {
    padding-left: 0.5rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
}

.main-aboutus h2 {
    color: green;
    font-weight: 1000;
}

.p-2 {
    text-align: justify;
}

.aboutus-title {
    color: gray;
    font-weight: 800;
}


/* PRODUCT */

.images {
    height: 300px;
    width: 300px;
    object-fit: cover;
    
}

.product-item {
    font-weight: 800;
    font-size: 1.2rem;
    color: orange;
    list-style-position: inside; 
      

}


.product-list {
    display: inline-block;
}

.main-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-caption {
    color: black;
}